<article class="contenedor3">
  <div>
  <a href='/buscar'><button>Encontrar nido</button></a>
  |
  <a href='/rentar'><button>Rentar nido</button></a>
  |
  <a href="/edit/{{_id}}"><button>Editar perfil</button></a>
 
</div>

<div>
<h1>¡Hola {{username}}!</h1>
<img 
src   ="{{photoURL}}" 
alt   ="profile_picture" 
id    ="photo" 
width ="200px">

<div>
<h3>Edad</h3>
<p>{{edad}}</p>
</div>

<div>
  <h3 hidden='true'>Género</h3>
  <p hidden='true'>{{genero}}</p>
</div>

<br>



<hr>

<div>
  <h2>Descripción</h2>
  <p>{{descripcion}}</p>
  <img class="estampa" src="https://png.icons8.com/doodle/48/000000/dog-bowl.png">
<img class="estampa" src="https://png.icons8.com/color/48/000000/rock-music.png">
<img class="estampa" src="https://png.icons8.com/color/48/000000/paint-palette.png">

</div>

</div>
</article>