<div>
  <a href='/buscar'><button>Encontrar nido</button></a>
  |
  <a href='/rentar'><button>Rentar nido</button></a>
  |
  <a href="/edit/{{_id}}"><button>Editar perfil</button></a>
  |
  <a href='/'><button>Salir de sesión</button></a>
</div>

<div>
<h2>¡Hola {{username}}!</h2>
<img 
src   ="{{photoURL}}" 
alt   ="profile_picture" 
id    ="photo" 
width ="200px">

<div>
<h3>Edad</h3>
<p>{{edad}}</p>
</div>

<div>
  <h3 hidden='true'>Género</h3>
  <p hidden='true'>{{genero}}</p>
</div>

<br>



<hr>

<div>
  <h2>Descripción</h2>
  <p>{{descripcion}}</p>
</div>

</div>