<button>
  <a href='/'></a>Salir de sesión</a>
</button> |

<button>
  <a href='/buscar'></a>Encontrar nido</a>
</button>

<button>
  <a href='/rentar'></a>Rentar nido</a>
</button>

<h2>¡Hola {{username}}!</h2>
<img src="{{photoURL}}" alt="profile_picture" id="photo">
<br>

<div>
<button>
  <a href="/edit/{{_id}}">Editar perfil</a>
</button>
</div>

<hr>

<div>
  <h2>Descripción</h2>
  <p>{{descripcion}}</p>
  <button>
  <a href="/edit/{{_id}}">Agregar descripción</a>
  </button>
</div>