<div>
  <a href='/'><button>Salir de sesión</button></a>
|


  <a href='/buscar'><button>Encontrar nido</button></a>

  <a href='/rentar'><button>Rentar nido</button></a>

</div>

<h2>¡Hola {{username}}!</h2>
<img src="{{photoURL}}" alt="profile_picture" id="photo">
<br>

<div>
  <a href="/edit/{{_id}}"><button>Editar perfil</button></a>

</div>

<hr>

<div>
  <h2>Descripción</h2>
  <p>{{descripcion}}</p>
  {{!-- <a href="/edit/{{_id}}">  <button>Agregar descripción  </button></a> --}}
</div>